{% extends 'base.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <div class="text-center container">
        <h1 class="">{{ post.title }}</h1>
        <p> {{ post.published_at }} </p>
        <span class="badge rounded-pill bg-primary">
        <a class="text-decoration-none text-white" href="{% url 'blog:post_cat' post.category.slug %}">
            {{ post.category }}
        </a></span>
    </div>

    <div class="container text-center p-3">
        {{ post.text }}
    </div>


    <div class="container position-absolute pb-5 ps-5 ">
        <form method="POST" action="{% url 'blog:post_details' post.slug %}">
            {% csrf_token %}
            <h4>Написать комментарий</h4>

            <div class="input-group mb-3 col-1">
                {{ form.author }}
            </div>

            <div class="input-group col-1">
                {{ form.text }}
            </div>
            <input class="btn btn-primary pt-1" type="submit" value="Отправить">
        </form>

        <div class="card-body pt-4">
            <h4 class="mb-0 pb-2">Комментарии</h4>
            {% for comment in comments %}
            <div class="d-flex flex-start">
                <div>
                    <h6 class="fw-bold mb-1">{{ comment.author }}</h6>
                    <div class="d-flex align-items-center mb-3">
                        <p class="mb-0">
                           {{ comment.published_at }}
                        </p>
                    </div>
                    <p class="mb-0">
                        {{ comment.text }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>


    </div>

{% endblock content %}