<!DOCTYPE html> {% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link href="{% static 'images/favicon.ico' %}" rel="icon">
    <title>{% block title %}Base title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <a href="{% url 'blog:post_list' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img class="bi me-2" alt="Logo" width="32" aria-label="Blog" src="{% static 'images/closedbook.png' %}">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'blog:post_list' %}" class="nav-link px-2 text-white">Блог</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDarkDropdownMenuLink"
                       role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Категории</a>

                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        {% for category in categories %}
                            <li><a class="dropdown-item"
                                   href="{% url 'blog:post_cat' category.slug %}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <!-- Button trigger modal -->
                <li>
                    <button type="button" class="nav-link px-2 text-white" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                        RSS Подписка
                    </button>
                    <!-- Modal -->
                    <div class="modal fade text-black" id="exampleModal" tabindex="-1"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Подключение RSS подписки</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Для подключения RSS подписки скопируйте: <a href="{% url 'blog:post_feed' %}">эту
                                    ссылку</a>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" method="GET" action="{% url 'blog:post_search' %}">
                {{ search_form.query }}
            </form>
        </div>
    </div>
</header>


{% block content %}
{% endblock content %}

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>